head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title ЧМ 2018 по футболу
	link(rel="stylesheet", href="libs/slick/slick.css")
	link(rel="stylesheet", href="css/styles.css")
	link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")